# Population
**Popolation**  
The structure and size of the population are principle components in the development planning, which are to
be considered while designing development plans and programs.

The total population of Afghanistan in the year 1396 (2017-18) was estimated around 29.7 millions of which
51 percent are males and 49 percent females. 

Distribution of population between urban, rural areas shows that out of the settled population 21.1 millions
are living in rural areas and 7.1 millions in urban areas. In addition 1.5 million are living as nomads.

The most striking feature of the Afghan population is its very young age structure. 47.5 percent ( 14.1
millions) are under the age of 15 years, where elderly of 65 and over are around 2.6 percent. The proportion
under 15 is among the highest in the world and significantly higher than that of the neighboring countries.

This young population contributes to a very high dependency ratio for every 100 persons in the working age
15-64, there are 99 persons in the less productive ages, under 15 and over 64.  

Based on 2003/05 household listing data, and population census 1979 the growth rate of Afghan population
was calculated as 2.03 percent per annum. Population growth due to rural-urban migration is higher in urban
areas.

In [28]:
import plotly
import pandas as pd
import plotly.graph_objs as go
import country_converter as coco
plotly.offline.init_notebook_mode(connected=True)

import holoviews as hv

from IPython.display import HTML
import pandas as pd

**Table 2-1: Settled Population by Sex and Age Groups-2017-18**

In [33]:
df = pd.read_excel (r'data/population/Settled_Population_by_Sex_and_Age_Groups_2017-18.xls', sheet_name=0, skiprows=2)
#print (df)

#for index, row in df.iterrows():
#    print(row[0], row[1], row[2], row[3], row[4], row[5])
    
#render dataframe as html
html = df.to_html(classes='table table-condensed table-hover table-bordered')
HTML(html)

shakhis

In [35]:
shakhis = pd.read_excel (r'data/population/Settled_Population_by_Sex_and_Age_Groups_2017-18.xls', sheet_name=0, skiprows=2)
html = df.to_html(classes='table table-condensed table-hover table-bordered')
HTML(html)

In [43]:
wilayat = pd.read_excel (r'data\population\settled_by_province_2017-18.xlsx', sheet_name=0, skiprows=2)
html = wilayat.to_html(classes='table table-condensed table-hover table-bordered')
HTML(html)